<ion-view view-title="showIdInfo">
  <ion-content>
    <ion-list>
      <ion-item>
        <form ng-submit="changeDone()">
        <div class="list" >
         <label class="item item-input" > 
         Name:
         <input type="text" ng-model="create.name">
	     </label>
         <label class="item item-input" >
         Gender:
         <input type="text"  ng-model="create.gender">
         </label>
          <label class="item item-input" >
         Mobile:
         <input type="text"  ng-model="create.mobile">
         </label>
          <label class="item item-input" >
         Age:
         <input type="text"  ng-model="create.age">
         </label>
          <label class="item item-input" >
         Email:
         <input type="text"  ng-model="create.email">
         </label>
          <label class="item item-input" >
         Address:
         <input type="text"  ng-model="create.address">
         </label>
          <label class="item item-input" >
         License:
         <input type="text"  ng-model="create.driverLicense">
         </label>
          <label class="item item-input" >
         Brand:
         <input type="text"  ng-model="create.brand">
         </label>
          <label class="item item-input" >
         Series:
         <input type="text"  ng-model="create.series">
         </label>
          <label class="item item-input" >
         Model:
         <input type="text"  ng-model="create.model">
         </label>
          <label class="item item-input" >
         <input type="checkbox"> 
         <span>Sign</span>
         <a href="http://10.204.56.67:8080/app/agreement">test drive agreement</a>
         </label>
         
  		  <label class="item">
            <button class="button button-block button-positive" type="submit">Done</button>
          </label>
        </div>
        </form>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>



